<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="60px">
                <div>Jobs</div>
                <div>Compaines</div>
                <div>Services</div>
            </div>
        </span>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" >
            <button  style="color:#3F51B5; font-size:20px; background-color:white;" mat-stroked-button routerLink="../register">Login</button>
            <button   style="color:#3F51B5; font-size:20px; background-color:white;" mat-stroked-button>Register</button>
        </div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</p>